
tr th {
    padding: 10px 5px 10px 5px;
    background-color: #262525;
    font-size: 17px;
    color: rgb(241, 221, 221);
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

.search-bar {
  float: right;
}

.search-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 25px;
  border: none;
}

.search-bar button {
  float: right;
  padding: 10.5px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar button:hover {
    background: #ccc;
}



.menubar{
    width: auto;
}

.search-bar a{
    display: flex;
    justify-content: center;
}

body{
    margin-left: 1%;
    margin-right: 1%;
}