body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #be7676;
    padding-top: 60px; /* To prevent content being hidden behind fixed header */
}


header {
    background-color: #262525;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}


header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 20px;
}


header a:hover {
    background-color: #ddd;
    color: black;
}


header a.split {
    float: right;
    background-color: #262525;
    color: white;
}

header a.split:hover {
    background-color: #000;
    color: white;
}   


header a.normal {
    float: left;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    padding: 16px 30px;
}

header a.normal:hover {
    background-color: #4c4c4c;
    color: white;
}   




.navbar-profile {
    float: right;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    padding: 0px;
}

.navbar-profile img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar-profile .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-profile .info h2 {
    margin: 0;
    font-size: 16px;
}

.navbar-profile .info h3 {
    margin: 0;
    font-size: 12px;
    color: #ccc;
}
