{% extends "base_page.html" %}

{% block head %}
    <title>Studsight - Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_student.css') }}">
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='add_student.js') }}"></script>
    <a href="#" onclick="history.back()">Back</a>
    <form id="studentForm" method="POST" action="{{ url_for('add_student') }}">
        <h1>Add New Student</h1>

    
        <div class="tab">
            <h2>Student Info:</h2>

            <div class="input-container">
                <input type="text" id="firstname" name="firstname" required>
                <label for="firstname">First Name:</label><br>
            </div>

            <div class="input-container">
                <input type="text" id="surname" name="surname" required>
                <label for="surname">Surname:</label><br>
            </div>
            <br><br>
            <div class="gender-options">Gender:
                <input type="radio" id="male" name="gender" value="M" required>
                <label for="male">Male</label>

                <input type="radio" id="female" name="gender" value="F" required>
                <label for="female">Female</label>
            </div>
            <br>

            <label for="yeargroup">Yeargroup (7-13):</label>
            <input type="number" id="yeargroup" name="yeargroup" min="7" max="13" required><br><br>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required><br><br>

            <label for="mastery">Mastery:</label>
            <input type="text" id="mastery" name="mastery" ><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>

        </div>
        <div class="tab">
            <legend>Additional Info:</legend>
            
            <label for="parentname">Parent/Guardian Name:</label>
            <input type="text" id="parentname" name="parentname" required><br><br>

            <label for="parentnumber">Parent/Guardian Contact Number:</label>
            <input type="tel" id="parentnumber" name="parentnumber" required><br><br>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required><br><br>

            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" name="nationality" required><br><br>

            <label for="countryofbirth">Country of Birth:</label>
            <input type="text" id="countryofbirth" name="countryofbirth" required><br><br>

            <label for="enrollmentdate">Enrollment Date:  </label>
            <input type="date" id="enrollmentdate" name="enrollmentdate" required><br><br>
        </div>

        <div class="tab">
            <legend>Medical Info:<br><br><small>If none, leave field empty</small></legend>

            <label for="conditions">Conditions: </label>
            <input placeholder="N/A" type="text" id="conditions" name="conditions"><br><br>

            <label for="allergies">Allergies: </label>
            <input placeholder="N/A" type="text" id="allergies" name="allergies"><br><br>

            <label for="medications">Medications: </label>
            <input placeholder="N/A" type="text" id="medications" name="medications"><br><br>

            <label for="needs">Needs</label>
            <input placeholder="N/A" type="text" id="needs" name="needs"><br><br>

        </div>

        
        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        </div>



        <br><br>
        <button type="submit">Add Student</button><br><br><br>
    </form>
    <script src="{{ url_for('static', filename='add_student.js') }}"></script>
{% endblock %}



