{% extends "base_students.html" %}
{% block head %}
    <title>Studsight - Admin Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_students.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
    <nav>
        <a class="red" href="{{ url_for('delete_students') }}">Delete Student</a>
        <a href="{{ url_for('import_students') }}">Import CSV</a>
        <a href="{{ url_for('add_student') }}">Add New Student</a>
    </nav>
{% endblock %}
