{% extends "base_page.html" %}
{% block head %}
    <title>Studsight - Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_message.css') }}">
{% endblock %}
{% block body %}
    <section class="messages">
        <a href="#" onclick="history.back()">Back</a>
        <h1>CHOOSE MESSAGE BOARD</h1>

        <a href="{{ url_for('messages')}}">
            <article class="department">
                <h2>GENERAL</h2>
            </article>
        </a>

        <a href="{{ url_for('maths_messages')}}">
            <article class="department">
                <h2>MATHS</h2>
            </article>
        </a>

        <a href="{{ url_for('english_messages')}}">
            <article class="department">
                <h2>ENGLISH</h2>
            </article>
        </a>

        <a href="{{ url_for('science_messages')}}">
            <article class="department">
                <h2>SCIENCE</h2>
            </article>
        </a>

        <a href="{{ url_for('computing_messages')}}">
            <article class="department">
                <h2>COMPUTING</h2>
            </article>
        </a>

        <a href="{{ url_for('history_messages')}}">
            <article class="department">
                <h2>HISTORY</h2>
            </article>
        </a>

        
    </section>
{% endblock %}
        