{% extends "base_page.html" %}

{% block head %}
  <title>Studsight - Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block body %}
    <h1 class="title">DASHBOARD</h1>
    <div class="welcome">  
        <h2>
            {%if gender=='M'%}
                Welcome, Mr {{ surname}}!
            {%else%}
                Welcome, Ms {{ surname}}!
            {%endif%}
        </h2>
    </div>
    <div class="cards">
        <div class="card">
            <a href="{{ url_for('message_page') }}">
                <img src="{{ url_for('static', filename='MsgBoard.png') }}" alt="" >
            </a>
            <h2>Messages</h2>
        </div>

        <div class="card">
            <a href="{{ url_for('students') }}">
                <img src="{{ url_for('static', filename='students.png') }}" alt="" >
            </a>
            <h2>Students</h2>
        </div>
    </div>
{% endblock %}

    <!-- <div class="page">
        <div class="sidebar">
            <img src="{{ url_for('static', filename='Profile.png') }}" alt="">  
            <div class="info">
                <h2> {{ firstname}} {{surname}}</h2>
                <h3>{{email}}</h3>
            </div>
        </div>
        <div class="container">
            <h1 class="title">DASHBOARD</h1>
            <div class="welcome">  
                <h2>
                    {%if gender=='M'%}
                        Welcome, Mr {{ surname}}!
                    {%else%}
                        Welcome, Ms {{ surname}}!
                    {%endif%}
                </h2>
            </div>

            <div class="message">
                <a href="{{ url_for('messages') }}">
                    <img src="{{ url_for('static', filename='MsgBoard.png') }}" alt="" >
                </a>
                <h2>Messages</h2>
            </div>

            <div class="students">
                <a href="{{ url_for('students') }}">
                    <img src="{{ url_for('static', filename='students.png') }}" alt="" >
                </a>
                <h2>Students</h2>
            </div>

        </div>
    </div>
</body>
</html> -->