{% extends "base_page.html" %}

{% block head %}
    <title>Studsight - New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_post.css') }}">
{% endblock %}

{% block body %}

<section class="new-post-form">
    <a class="back" href="#" onclick="history.back()">Back</a><br><br>

    <h1>Create New {{ board|title }} Post</h1>

    <form method="POST" action="{{ url_for('new_post', board=board) }}" enctype="multipart/form-data">

        <textarea id="title" name="title" placeholder="Title" required></textarea><br><br>

        <fieldset>
            <label for="attachments">Attachments:&nbsp;</label>
            <input type="file" id="attachments" name="attachments"><br><br>

            <textarea id="content" name="content" placeholder="Write Content..." required></textarea>
        </fieldset><br><br>

        <button type="submit">Submit Post</button><br><br><br>

    </form>
</section>

{% endblock %}
