{% extends "base_page.html" %}
{% block head %}
    <title>Studsight - Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='science.css') }}">
{% endblock %}
{% block body %}
    <section class="messages">
        <a href="#" onclick="history.back()">Back</a>
        <h1>CHOOSE MESSAGE BOARD</h1>
        

        <a href="{{ url_for('messages')}}">
            <article class="department">
                <h2>GENERAL</h2>
            </article>
        </a>

        <a href="{{ url_for('science_messages')}}">
            <article class="department">
                <h2>SCIENCE</h2>
            </article>
        </a>

    </section>
{% endblock %}
        